body{
	font-family: Myriad Pro;
	width: 230px;
	height: auto;
	margin: 0 auto;
	background-color: #4d4d4d;
	overflow: auto;
	user-select: none;
}
	main{
		width: 96%;
		padding: 0 2%;
	}
	fieldset{
		border: 1px solid #383838;
		margin: .5em 0 0;
		padding: .2em 0;
	}
		legend{
			font-family: Segoe UI Symbol;
			font-size: .6em;
			font-weight: bold;
			color: #b4b4b4;
			margin-left: 1em;
		}
		button{
			outline: none;
			border: none;
			transition: .3s;
			border-radius: 5px;
			padding: .5em 1em;
			color: white;
			font-size: .65em;
			width: 45%;
			margin-top: .5em;
		}
		label {
			font-family: Segoe UI Symbol;
		}
	#controlShowtimer{
		text-align: right;
		display: none;
	}
	#controlShowtimer h6{
		color: #00d8bc;
		cursor: default;
		margin: 0 .3em;
		font-size: .6em;
		transition: 0.3s;
		display: inline-block;
	}
	#controlShowtimer h6:hover{
		color: #039994;
		text-decoration: underline;
	}
	#makeMargin{
		display: flex;
		flex-direction: row;
		justify-content: space-around;
		flex-wrap: wrap;
	}	
		.btnTemplate:active{
			opacity: 0.6;
		}
		
		#restoreHis{
			background-color: #414141;
			color: #a7a7a7;
			font-weight: bold;
		}
		#restoreHis:hover{
			background-color: #646464;
			color: #a7a7a7;
		}
		#restoreHis:active{
			background-color: #414141;
		}
		#checkBoxParent{
			text-align: center;
			margin: .5em 0;
			color: #c2c2c2;
			font-size: .8em;
			display: flex;
			flex-direction: row;
			align-items: center;
			justify-content: center;
		}
			#checkedBot, #checkBotShadow{
				width: 1.1em;
				height: 1.1em;	
			}
		#clrGuide{
			margin: 0;
			color: #00dfdc;
		}
		#clrGuide a{
			font-family: Segoe UI Symbol;
			font-size: .9em;
			text-decoration: none;
			color: #00dfdc;
			transition: .3s;
		}
		#clrGuide a:hover{
			color: #0db49e;
		}
		#clrGuide a:active{
			color: #00dfdc;
		}
		#timer{
			font-family: Segoe UI Symbol;
			text-align: center;
			margin: 0 .3em;
			color: #00ffde;
			font-size: 1.2em;
			border: 1px solid #00ffde;
			transition: 3s;
			cursor: default;
			display: none;
		}
	#inforVariant{
		text-align: center;
	}
		#inforVariant h4{
			margin: 0.5em 1em;
			color: #00b7ac;
		}
		#inforVariant h5{
			margin: 0.5em 1em;
			color: #929292;
		}
		#inforVariant h5 span{
			color: #c6c6c6;
		}
	#otherFunction{
		display: flex;
		flex-direction: row;
		align-items: center;
		justify-content: space-around;
	}
		#shadowBtn{
			background-color: #111111;
		}
		#shadowBtn:hover{
			background-color: #343434;
		}
		#shadowBtn:active{
			background-color: #111111;
		}
	#btnGrSave{
		text-align: center;
		margin: 0.2em 0;
	}
		#settingDir{
			text-align: right;
			margin: 0.5em 0.5em;
			position: relative;
		}
			#grActionBtn{
				display: flex;
				flex-direction: row;
				justify-content: space-around;
			}
			#settingDir #popupDir{
				font-family: arial;
				visibility: hidden;
				position: absolute;
				top: 30px;
				background-color: #f9f8b9;
				color: black;
				font-size: .6em;
				padding: .2em .3em;
			}
			#settingDir:hover> #popupDir{
				visibility: visible;
			}
			#treeHandle{
				color: #30a0aa !important;
			}
			.action-Btn{
				opacity: 0.5;
				transition: 0.3s;
			}
			.action-Btn:hover{
				opacity: 1;
				height: 20px;
				/*width: 30px;*/
			}
			#settingConfig:hover{
				animation: spinOne 0.3s linear;
			}
			@keyframes spinOne{
				0%{transform: rotate(0deg);}
				100%{transform: rotate(120deg);}
			}
			#treeHandle:hover{
				opacity: 1;
				width: 20px;
			}
		#btnSave{
			background-color: inherit;
			border: 1px solid #a1a1a1;
			border-radius: 30px !important;
			margin: 0 !important;
		}
		#btnSave:hover{
			background-color: #808080;
		}
		#btnSave:active{
			background-color: #626262;
		}
#navFolder{
	display: flex;
	flex-direction: row;
	margin: 0 1em .5em;
	justify-content: space-around;
}
#navFolder a{
	cursor: default;
	font-size: .75em;
	color: #008c91;
	text-decoration: none;
	font-family: Segoe UI Symbol;
	font-weight: bold;
	position: relative;
}
#navFolder a:hover{
	color: #026a6e;
	text-decoration: underline;
}
#listFolder{
	list-style: none;
	padding-left: 1em;
	font-family: Segoe UI Symbol;
	font-size: .75em;
	margin: 0;
}
	#listFolder li{
		color: #cdcdcd;
		display: inline-block;
		white-space: nowrap;
		overflow: hidden;
		text-overflow: ellipsis;
		max-width: 180px;
	}
	#listFolder img{
		width: 14px;
		margin-right: 1em;
	}
	.divFolder{
		padding: .15em 0;
	}
	.divFolder:hover{
		cursor: default;
		background: #828282 !important;
	}
	.contextMenu{
		display: none;
		background-color: #e6e6e6;
		box-shadow: 2px 2px 8px #222222;
	}
		.contextMenu h5{
			padding: .5em 1em;
			margin: 0;
			border-bottom: 1px solid #a1a1a1;
		}
		.contextMenu h5:hover{
			background-color: #2470b7;
			color: white;
		}
#navMain{
	text-align: center;
}
#navMain a{
	text-decoration: none;
	color: white;
	font-family: Segoe UI Symbol;
	font-size: .75em;
	border: 1px solid #c4c4c4;
	display: inline-block;
	padding: .3em 2em;
	border-radius: 10px;
	transition: .3s;
}
	#folderBackupName{
		width: 120px;
		margin-left: 15px;
		background-color: #414141;
		color: #c4c4c4;
		border: 1px solid #737373;
		border-radius: 5px;
	}
		::placeholder{
			font-size: .75em;
		}
	#grbtnOpen{
		position: absolute;
		top: 25px;
		right: 25px;
		display: none;
	}
	#createPanama{
		margin: 0;
		width: 100%;
		padding: .5em .7em;
		background-color: #1c68a9;
	}
	#createPanama:hover{
		background-color: #2c84ce;
		box-shadow: 0px 0px 8px #494949;
	}
#navFolder svg{
	fill: #c1c1c1;
	width: 25px;
	height: 15px;
	transition: .3s;
}
#navFolder svg:hover{
	fill: #00a7a5;
}
#navFolder svg:active{
	fill: #005958;
}
body::-webkit-scrollbar{
	display: none;
	width: 10px;
}
#manageData{
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	margin: 0.5em 0;
}
	#reset{
		margin: 0.2em 1em;
		color: #0d8ed1;
		cursor: pointer;
		transition: 0.3s;
	}
	#reset:active{
		color: #0a608d;
	}
	#backup{
		margin: 0.2em 1em;
		color: #afafaf;
		cursor: pointer;
		transition: 0.3s;
	}
	#backup:active{
		color: #898989;
	}
.version h6{
	margin: 0.5em .5em;
	color: #686868;
}
@media only screen and (min-width: 640px) and (max-width: 1920px){
	body{
		width: 100%;
	}
	main{
		display: flex;
		flex-direction: row;
		flex-wrap: wrap;
		justify-content: space-around;

	}
	#templates{
		flex-basis: auto;
		flex-grow: 1;
	}
		#makeMargin{
			justify-content: center;
		}
		#makeMargin button{
			width: 100px;
			margin: 0 1em;
		}
	#other{
		flex-basis: 220px;
	}
	#saveFile{
		flex-basis: 220px;
	}
}
@media only screen and (min-width: 520px) and (max-width: 640px){
	body{
		width: 100%;
	}
	main{
		display: flex;
		flex-direction: row;
		flex-wrap: wrap;
		justify-content: space-around;
	}
	fieldset{
		width: 30%;
	}
	#makeMargin button{
		width: 100px;
	}
}
@media only screen and (min-width: 160px) and (max-width: 520px){
	fieldset{
		width: 100%;
	}
	body{
		width: 100%;
	}
	#makeMargin button{
		width: 100px;
	}
}

@media only screen and (max-width: 160px){
	body{
		width: 120px;
	}
	fieldset{
		width: 105px;
	}
	#makeMargin{
		flex-direction: column;
		padding: 0 0.3em;
	}	
	#makeMargin button{
		width: 100%;
	}
	#otherFunction{
		flex-direction: column;
	}
	#otherFunction button{
		width: 80%;
	}
	#checkBoxParent{
		flex-direction: column;
		margin: 1em 0;
	}
	#checkBoxParent label{
		font-size: 0.8em;
	}
	#btnGrSave{}
		#btnSave{
			width: 80%;
		}
}
